body {
  background-color: white;
}
 article img {
   max-width: 300px;
   margin: 0 auto;
 }
.card {
  width: 500px;
  /*text-align:center;*/
  background-color: #575757;
}
#user-output {
  max-width: 500px;
}
